.list{
    
    width: 100%;
    margin-top: 10px;
background-color: #144272;
.listTitle{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}
.wrapper{
    position: relative;
    .sliderArrow {
        z-index: 999;
width: 50px;
height: 100%;
background-color: rgb(28, 25, 25, 0.5);
color: white;
position: absolute;
top: 0;
bottom: 0;
margin: auto;
cursor: pointer;
&.left{
left: 0;
}
&.right{
    right: 0;
    background-color: rgb(28, 25, 25, 0.5);
}

    }
    .container{
        margin-left: 50px;
        display: flex;
        width: max-content;
        margin-top: 20px;
        transform: translateX(0px);
        transition: all 1s ease;
    }
}
}