.listItem{
    height: 120px;
    width: 225px;
    background-color: lightblue;
    margin-right: 5px;
    overflow: hidden;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
         
    }
    &:hover{
        width: 325px;
        height: 320px;
        position: absolute;
        top: -150px;
        border-radius: 5px;

        
        img{
            height: 140px;
            transform: scale(2);
            transform: rotate(360deg);
            
        }
        .info{
display: flex;
flex-direction: column;
padding: 10px;
.icons{
    display: flex;
    margin: 10px;
    .icon{
        border: 2px solid white;
        padding: 5px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 16px;
        background-color:rgb(118, 118, 234); 
        color: white;
        font-weight: 600;
    }
}
.itemInfoTop{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    
   .limit{
border: 1px solid gray;
padding: 1px 3px;
margin: 0 10px;
color: rgb(118, 118, 234);
font-weight: 800;
   }

}
.desc{
    font-size: 13px;
    margin-bottom: 10px;
}
.genre{
    font-size: 14px;
    color: gray;
    font-weight: 400;
}
        }
    }
    video{
        width: 100%;
        height: 140px;
        object-fit: cover;
        position: absolute;
        top:0;
        left: 0;
    }
    
}